*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/app-release.apk
app/release/Wishma Plus.apk
app/release/WishmaPlus.apk
app/release/app-release.aab

# Project exclude paths
/image_picker/build/
/image_picker/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/sweet_alert/build/
/sweet_alert/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/